[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group JK Productions
	owner = group user/joeytall (joeytall)
[access "refs/for/refs/*"]
	read = group user/joeytall (joeytall)
	push = group user/joeytall (joeytall)
	label-Code-Review = -2..+2 group user/joeytall (joeytall)
	label-Verified = -1..+1 group user/joeytall (joeytall)
	rebase = group user/joeytall (joeytall)
	removeReviewer = group user/joeytall (joeytall)
	submit = group user/joeytall (joeytall)
[access "refs/heads/*"]
	read = group user/joeytall (joeytall)
	create = group user/joeytall (joeytall)
	push = +force group user/joeytall (joeytall)
	pushMerge = group user/joeytall (joeytall)
[access "refs/tags/*"]
	push = +force group user/joeytall (joeytall)
	pushTag = group user/joeytall (joeytall)
	pushSignedTag = group user/joeytall (joeytall)
